.toggle-button {
  padding: 10px;
  border: solid 1px #000000;
  width: 200px;
  cursor: pointer;
  text-align: center;
}

.selected {
  background: red;
  color: white;
}

.toggle-wrapper {
  display: flex;
  margin-top: 1%;
}
