.follow-us {
  margin: 10px;
}

.social-media {
  width: 2.5rem;
  align-self: center;
  margin: 5px;
}

.social-media-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 0.5px;
}
