.booking-dates-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.booking-date-label {
  border: none !important;
  cursor: auto !important;
}

.booking-date-item {
  display: flex;
  padding: 15px;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  width: 70px;
  border: solid 2px purple;
  cursor: pointer;
}

.date-selected {
  background-color: purple;
  color: white;
}

.selected-show {
  display: flex;
  justify-content: center;
}

.selected-show-information {
  font-size: 20px;
  font-weight: 900;
}

.popup-footer {
  margin-top: 1%;
}

.selected-seats {
  font-size: 15px;
  font-weight: 900;
  margin-top: 2%;
  margin-left: 1%;
}

.button-close {
  cursor: pointer;
  z-index: 9999;
}
