.booking-summary-wrapper {
  padding: 10px;
  width: 100%;
  clear: both;
}

.booking-summary {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  margin-bottom: 2%;
}

.booking-summary .item {
  background: #768591;
  color: #fff;
  padding: 20px;
}
.booking-summary .item-header {
  background: #007ee3;
  font-size: 20px;
  font-weight: 200;
  word-wrap: break-word;
}
.booking-summary .confirmed {
  background: #4faa6d;
  font-weight: 500;
}
.booking-summary .item .label-item {
  font-weight: 900;
}

.booking-summary .item .value {
  font-weight: 200;
}

.booking-summary .label {
  color: #000;
  font-size: 22px;
}

.booking-seats .seats-value {
  font-weight: 200;
}

.ticket-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #768591;
  border-bottom: 1px solid #768591;
  padding: 15px;
}

.booking-success {
  color: green;
  font-size: 30px;
}

.ticket-id-label {
  font-weight: 600;
}

.ticket-id-value {
  font-weight: 900;
  font-size: 30px;
  text-transform: uppercase;
}

.booking-title {
  font-size: 20px;
  font-weight: 700;
}

.confirm-button {
  background: #007ee3;
}
