.booking-dates-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.booking-date-label {
  border: none !important;
  cursor: auto !important;
}

.booking-date-item {
  display: flex;
  padding: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 70px;
  cursor: pointer;
  background: #edeef1;
  font-size: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.date-selected {
  background-color: #007ee3;
  color: white;
  font-weight: 900;
}

.selected-show {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding-top: 15px;
  border-top: 1px solid #768591;
  border-bottom: 1px solid #768591;
}

.selected-show-information {
  font-size: 20px;
  font-weight: 900;
}

.popup-footer {
  margin-top: 1%;
  border-top: 1px solid #768591;
  padding: 10px;
}

.selected-seats {
  font-size: 15px;
  font-weight: 900;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}

.button-close {
  cursor: pointer;
  z-index: 9999;
  font-size: 20px;
}

.proceed-btn {
  background: #007ee3;
}
