.banner {
  width: 100%;
}

.stills-wrapper {
  display: flex;
  margin-top: 2%;
}

.still-item {
  margin-right: 1%;
  order: 2;
}

.stills-label,
.synopsis-label {
  color: purple;
  font-weight: 600;
}
