.movie-list-container {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 10px;
  margin-top: 2%;
  margin-bottom: 2%;
}

.movie-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  margin: 1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.movie-list-container a {
  text-decoration: none;
  width: 200px;
}

.movie-item .movie-thumbnail {
  align-self: center;
  width: 100%;
}

.movie-item .name {
  font-weight: 900;
  text-align: center;
}

.movie-item .experiences {
  font-size: 10px;
  text-align: center;
}

.no-movies {
  font-size: 20px;
  padding-top: 20px;
  text-align: center;
}
