.seats-wrapper {
  height: 400px;
  overflow-y: scroll;
}
.seats-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.seat {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: solid 1px #000;
  margin: 2px;
  width: 50px;
  align-self: center;
  cursor: pointer;
}

.seat-blocked {
  background: #768591;
  color: #fff;
}

.seat-selected {
  background: #007ee3;
  color: #fff;
}
